.ip-btn{
    font-size: 20px;
    color: white;
    padding: 10px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background: rgb(255, 0, 0);
    cursor: pointer;
}
.info{
    font-size: 24px;
    line-height: 28px;
    padding: 10px;
}