.post-block {
    margin: 20px;
    border: 2px solid rgba(0, 0, 255, 0.3);
    border-radius:  20px;
    padding: 20px;
    width: 800px;
    font-family: Lato, sans-serif;
}

.post-user-name {
    font-size: 25px;
    font-weight: 700;
    text-decoration: underline;
}

.post-user-email {
    font-size: 20px;
    font-weight: 400;
}

.post-img {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    font-size: 40px;
    border-radius: 20px;
    background-color: rgba(216, 191, 216, 0.5);
    color: tomato;
}

.post-title {
    font-size: 25px;
    font-weight: 700;
}

.post-body {
    font-size: 18px;
    font-weight: 400;
}

.delete-post-btn {
    font-size: 14px;
    padding: 5px;
    color: white;
    background-color: brown;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.delete-post-btn:hover {
    background-color: red;
}